{% extends "index.html" %}

{% import 'components/select_numbers.html' as selector %}

{% import 'components/table_macros.html' as tabela %}

{% block title %}Escolher Números{% endblock %}

{% block content %}
  <h2>Escolher Números</h2>

  <div style="margin-top: 7px;">
    <label for="qtde">Modalidade:</label>
    <form method="POST" id="game-form">
      <select name="jogo" onchange="document.getElementById('game-form').submit()">
        {% for jogo in numbers_limited.keys() %}
          <option value="{{ jogo }}" {% if game_selected == jogo %}selected{% endif %}>
            {{ jogo }}
          </option>
        {% endfor %}
      </select>
      <button type="submit">Enviar</button>
      <div>
        {{ selector.select_numbers_component(game_selected, numbers_limited, min_max_to_game) }}
      </div>    
    </form>
  </div>

  {% if sorteios %}
    <h2>Resultados</h2>
    {{ tabela.render_tabela(sorteios) }}
  {% endif %}

{% endblock %}
